<h1>Devices</h1>

<p *ngIf="!devices"><em>Loading...</em></p>

<div *ngIf="devices">
  <a [routerLink]="['/devices/add']"><button type="button" class="btn btn-primary">Add Device</button></a>
  <table class='table' *ngIf="devices">
    <thead>
      <tr>
        <th>IP Address</th>
        <th>Name</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices" ng-click="">
        <td><a class="cell_link" [routerLink]="['/devices/details', device.id]">{{ device.ipAddress }}</a></td>
        <td><a class="cell_link" [routerLink]="['/devices/details', device.id]">{{ device.name }}</a></td>
        <td>
          <a class="cell_link" [routerLink]="['/devices/details', device.id]">
            <span class="fas {{device.status ? 'fa-check-circle' : 'fa-times-circle'}}"></span>
          </a>
        </td>
        <td class="edit_td">
          <a class="span_link" [routerLink]="['/devices/edit', device.id]"><button type="button" class="btn btn-success left_button">Edit</button></a>
          <a [routerLink]="['/devices/']" (click)="deleteDevice(device)"><button type="button" class="btn btn-danger">Delete</button></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>