<div class="col-md-6 user-container">
  <h2 class="text-center">Add Device</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Device Name:</label>
      <input type="text" formControlName="name" placeholder="name" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="ipAddress">IP address:</label>
      <input type="ipAddress" formControlName="ipAddress" placeholder="ipAddress" name="ipAddress" class="form-control"
        id="ipAddress">
    </div>

    <div class="form-group">
      <label for="config">Configuration string:</label>
      <input formControlName="config" placeholder="config" name="config" class="form-control" id="config">
    </div>

    <button class="btn btn-success">Create</button>
  </form>
</div>